h1{
    color: rgb(130, 16, 145);

}
h2{
    color: rgb(130, 16, 145);
}

h3{
 color: rgb(130, 16, 145);
}

img{
    width: 400px;
    height: 300px;
}

h2{
    color: blue;
}

img{
    border: solid 2px white
}

h2{ 
    color: blue;
}